.file-component-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.file-component-title {
  width: 33%;
}

.file-component-date {
  width: 33%;
}

.file-component-actions {
  width: 33%;
}
