.small-flame-wrapper {
  width: 180px;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.small-flame svg {
  width: 100%;
  height: auto;
  position: relative;
}
.small-flame {
  animation-name: flamefly;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
}
.small-flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.small-flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.small-flame-main {
  animation-name: flameWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.small-flame-main.one {
  animation-duration: 4s;
  animation-delay: 1s;
}
.small-flame-main.two {
  animation-duration: 3s;
  animation-delay: 2s;
}
.small-flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.small-flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.small-flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameWobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}
@keyframes flamefly {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}
