.desktop-wrapper {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  animation: fadeInFromNone 0.5s ease-out;
  user-select: none;
}

.desktop-image {
  -webkit-user-drag: none;
}

@media only screen and (max-width: 600px) {
  .desktop-image {
    width: 250px;
    height: 250px;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
