.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20vh;
  animation: fadeInFromNone 0.5s ease-out;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.wrapper input {
  margin-top: 10px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0.5em;
}

.wrapper input:focus {
  outline: none;
}

.wrapper h1 {
  color: #fff;
  font-size: 4.5em;
}

.wrapper button {
  background-color: #fff;
  border: none;
  padding: 13px 28px;
  margin-top: 20px;
  font-size: 1.2em;
  border-radius: 0.5em;
  color: #0b152f;
  width: 50%;
  transition: all ease-in-out 0.3s;
}

.wrapper button:hover {
  background-color: #df513d;
  color: #fff;
  cursor: pointer;
}

.osColor {
  color: #df513d;
}

.auth-error {
  height: 10px;
  font-size: 1rem;
  color: #df513d;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
